<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/catalogue']"><- Ritorna al catalogo</a>
    </li>
  </ol>
</nav>

<div class="container h-100 center_div">
  <h4 style="text-align: center; color: blue">
    Pasticceria 1
  </h4>
</div>

<br>
<br>
<div class="container col-12">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dolce 1</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">
          <button type="button" class="btn btn-primary">Acquista</button>
        </small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dolce 2</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">
          <button type="button" class="btn btn-primary">Acquista</button>
        </small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dolce 3</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">
          <button type="button" class="btn btn-primary">Acquista</button>
        </small></p>
      </div>
    </div>
  </div>
  <div>
    <br>
    <br>
