<br>
<br>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dolce</th>
      <th scope="col">Stato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Dolce1</td>
      <td>Modifica</td>
      <td>Elimina</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Dolce2</td>
      <td>Modifica</td>
      <td>Elimina</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Dolce3</td>
      <td>Modifica</td>
      <td>Elimina</td>
    </tr>
    </tbody>
  </table>


</div>
<br>
<br>
