<br>
<br>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ordini</th>
      <th scope="col">Stato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ordini1</td>
      <td>Visualizza</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ordini2</td>
      <td>Visualizza</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ordini3</td>
      <td>Visualizza</td>
    </tr>
    </tbody>
  </table>


</div>
<br>
<br>
