<br>
<br>
<div class="container h-100 center_div">
  <h4 style="text-align: center; color: blue">
 Catalogo
  </h4>
</div>

<br>

<div class="container">
  <div class="card-columns">
    <div class="col-md-12" *ngFor=" let p of pastry">
      <div class="card">
        <span ><img src="../../../../assets/img/default.png" class="card-img-top" alt="..."/></span>
        <div class="card-body">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text"> {{ p.address }} </p>
          <p><button [routerLink]="['/party-shop']" type="button" class="btn btn-primary">Visualizza</button></p>
        </div>
      </div>
    </div>
  </div>
  <div>


    <br>
    <br>
